# Secrets
lab1/api_secrets/access_secret.txt
lab1/api_secrets/access_token.txt
lab1/api_secrets/api_key.txt
lab1/api_secrets/api_secret.txt
lab1/api_secrets/bearer_token.txt
lab1/api_secrets/client_id.txt
lab1/api_secrets/client_secret.txt

lab3/users_secrets/user.txt
lab3/users_secrets/password.txt

project/data/api_secrets/client_id.txt
project/data/api_secrets/client_secret.txt

# macOS Files
.DS_Store
